<div id="m-setting-backup-area" class="featureSpace">

    <style type="text/css">
        #m-setting-backup-area {
            text-align: center;
            background-color: #efeff4!important;
        }

        #setting-backup-area {
            padding: 6rem;
            position: relative;
            display: inline-block;
            margin: auto;
        }

        #setting-backup-area>div>ul {
            padding: 0.5rem;
            width: 25rem;
            border: 1px solid #007aff;
            text-align: center;
            border-radius: 0.833rem;
        }
        .m-setting-backup-tolocal{
            border-radius: 0.833rem;
        }

        #setting-backup-area ul>li {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
        }
        .backup-title-color{
            color: #007aff;
        }

    </style>
    <div class="m-setting-title">
        <ul>
            <li style="float: left;">
                <a ng-tap="backto('/m-setting/setting')">
                    <img src="imgs/back-arrow.png" width="20rem" height="20rem">
                </a>
                <span style="font-size: 1.4rem;">
                    <%= setting.backup.system_backup %>
                </span>

            </li>
        </ul>
    </div>
    <div id="setting-backup-area">
        <div class="fs-20 mainColor-1 mb-5">
            {{tips}}
        </div>
        <div id="setting-backup-tocloud" class="inlinebl mr-2 m-setting-backup-tolocal" ng-tap="backup()">
            <ul >
                <span class="cloudup-icon"></span>
                <li class="ml-2">
                    <div class="fs-20 mt-1 backup-title-color"> <%= setting.backup.backup_local_data %></div>
                    <div class="font-color-message"> <%= setting.backup.upload_local_data %></div>
                </li>
            </ul>
        </div>
        <div id="setting-backup-tolocal" class="inlinebl m-setting-backup-tolocal" ng-tap="resume()">
            <ul>
                <span class="clouddown-icon"></span>
                <li class="ml-2">
                    <div class="fs-20 mt-1 backup-title-color"> <%= setting.backup.recover_data %></div>
                    <div class="font-color-message"> <%= setting.backup.download_cloud_data %></div>
                </li>
            </ul>
        </div>
    </div>
</div>