.hidden{display:none;}
#p-wrapper{position:absolute;width:90%;top:50px;left:5%;height:280px;overflow:hidden;}

.p-pannel{-webkit-backface-visibility: hidden;position:absolute;width:100%;padding-bottom:6px;}

.p-list{-webkit-text-size-adjust:none;}


.p-down , .p-up{height:40px;line-height:40px;text-align: center;}
.p-down span , .p-up span {margin-left:20px;}

.p-right{
    position: absolute;
    top: 10rem;
    width: 5rem;
    display: -webkit-box;

    -webkit-box-align: center;
    -webkit-box-pack: start;
    -webkit-box-orient: horizontal;
}

.p-left{
    position: absolute;
    display: -webkit-box;
    top: 10rem;
    -webkit-box-align: center;
    -webkit-box-pack: start;
    -webkit-box-orient: horizontal;
    width: 5rem;
}

.p-down s, .p-up s{
    display: inline-block;
    vertical-align: middle;
    margin-left:20px;
    -webkit-transition:-webkit-transform .2s ease-in-out;-webkit-transform:rotate(180deg);
    background:url(imgs/jtx.png) no-repeat;width:21px;height:21px;background-size:21px 40px;
}

.p-right s, .p-left s{
    -webkit-box-flex: 1;
    -webkit-transition:-webkit-transform .2s ease-in-out;-webkit-transform:rotate(180deg);
    background:url(imgs/right.png) no-repeat;display:block;width:16px;height:32px;background-size:16px 32px;
}
.p-right>span, .p-left>span{
    width: 1rem;
    display: -webkit-box;
}



.p-up s{
    -webkit-transform:rotate(0);
}
.p-up{margin-top:5px;}

.p-down.p-rotate s{-webkit-transform:rotate(0);}
.p-up.p-rotate s{-webkit-transform:rotate(180deg);}


.p-right s{
    -webkit-transform:rotate(0);
}
.p-right{margin-top:5px;}

.p-right.p-rotate s{-webkit-transform:rotate(0);}
.p-right.p-rotate s{-webkit-transform:rotate(180deg);}


.p-down.p-loading s, .p-up.p-loading s, .p-left.p-loading s, .p-right.p-loading s{
    background:url(imgs/loading.png) no-repeat;
    width:21px;height:21px;background-size:21px 21px;margin-top:9px;
    -webkit-transition:none;-webkit-transform:rotate(0);-webkit-transition-duration:0ms;

    -webkit-animation-name:p-loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}
@-webkit-keyframes p-loading{
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}

